{{ partial "head.html" . }}
<body class="{{ .Site.Params.themeColor }}">

{{ partial "sidebar.html" . }}

    <div class="content container">

    <h2>Welcome to the Edentify documentation.</h2>


<div class="posts">


	{{ range .Site.Menus.main }}
  		<li><a href="{{.URL}}"> {{ .Name }} </a></li>
	{{ end }}
  
</div>
</div>

  </body>
</html>
